
<!DOCTYPE html>
<html>
<head>
  <title>AbiRechner MV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/return-to-top.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Vue.JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <noscript><h3>  Du musst JavaScript aktiviert haben, um diese Seite verwenden zu können. Bitte 
    aktiviere JavaScript und <a href="https://rcl.mvbuddies.de">lade die Seite neu</a>, um fortzufahren.  </h3> 
	<meta HTTP-EQUIV="refresh" content=0;url="javascriptNotEnabled.html"></noscript>
</head>
<body>
<div class="container" id="app"><br><br><br>

  <h1>AbiRechner Mecklenburg Vorpommern</h1><br>
  <h5>Hinweise (hoffenltich iwann unnötig da eh überprüft wird)</h5>
  <p>Alle Felder bei denen Pflicht bei steht <b>müssen angegeben werden</b>, außer ihr habt diesen Kurs als Leistungskurs<br>
  <p>Kurse können nur mit <b>zwei</b> oder <b>vier Semestern</b> eingebracht werden.<br>Man kann kein einzelnes oder drei Semester aus einem Kurs einbringen.</p>
  <p>Im Leistungskurs müssen zwei Kurshalbjahre <b>mindestens fünf Notenpunkte</b> haben</p>
  <p>Es dürfen nur <b>sieben Kurse unter fünf Notenpunkte</b> sein</p>
  <p>Alle Angaben ohne Gewähr</p><br>
  <h2>Block I</h2><br>


  <h4> Leistungskurs 1:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="leistungskurs0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="leistungskurs1"><br>
  <h5> 3. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="leistungskurs2"><br>
  <h5> 4. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="leistungskurs3"><br><br>

  <h4> Leistungskurs 2:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="leistungskurs4"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="leistungskurs5"><br>
  <h5> 3. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="leistungskurs6"><br>
  <h5> 4. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="leistungskurs7"><br><br>

  <h4> Grundkurs Mathe:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="ma0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="ma1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="ma2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="ma3"><br><br>

  <h4> Grundkurs Deutsch:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="de0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="de1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="de2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="de3"><br><br>

  <h4> Grundkurs Geschichte:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="ge0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="ge1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="ge2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="ge3"><br><br>

  <h4> Grundkurs Kunst/Musik:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="km0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="km1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="km2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="km3"><br><br>

  <h4> Grundkurs Philosophie/Religion:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="pr0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="pr1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="pr2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="pr3"><br><br>

  <h4> Grundkurs 1. Fremdsprache:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="fs0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="fs1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="fs2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="fs3"><br><br>

  <h4> Grundkurs 1. Naturwissenschaft [Biologie, Chemie, Physik]:</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="nw0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="nw1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="nw2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="nw3"><br><br>

  <h4> Grundkurs 2. Fremdsprache: (Optional)</h4><br>
  <p><b>wenn zwei Fremdsprachen eingebracht werden muss nur noch eine Naturwissenschaft eingebracht werden</b></p>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="fs4"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="fs5"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="fs6"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="fs7"><br><br>

  <h4> Grundkurs 2. Naturwissenschaft: (Optional) [Biologie, Chemie, Physik]</h4><br>
  <p><b>wenn zwei Naturwissenschaften eingebracht werden muss nur noch eine Fremdsprache eingebracht werden</b></p>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="nw4"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="nw5"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="nw6"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="nw7"><br><br>

  <h4> Grundkurs 3. Naturwissenschaft: (Optional) [Biologie, Chemie, Physik]</h4><br>
  <p><b>wenn zwei Naturwissenschaften eingebracht werden muss nur noch eine Fremdsprache eingebracht werden</b></p>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="nw8"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="nw9"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="nw10"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="nw11"><br><br>

  <h4> Grundkurs Informatik: (Optional)</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="in0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="in1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="in2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="in3"><br><br>

  <h4> Grundkurs Gesellschaftswissenschaft 1: (Optional) [Geographie, Sozialkunde, Wirtschaft]</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="gw0"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="gw1"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="gw2"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="gw3"><br><br>

  <h4> Grundkurs Gesellschaftswissenschaft 2: (Optional) [Geographie, Sozialkunde, Wirtschaft]</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="gw4"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="gw5"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="gw6"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="gw7"><br><br>

  <h4> Grundkurs Gesellschaftswissenschaft 3: (Optional) [Geographie, Sozialkunde, Wirtschaft]</h4><br>
  <h5> 1. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="gw8"><br>
  <h5> 2. Semester (Pflicht)</h5>
  <input type="text" class="form-control" v-model="gw9"><br>
  <h5> 3. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="gw10"><br>
  <h5> 4. Semester (Optional)</h5>
  <input type="text" class="form-control" v-model="gw11"><br><br>

  <h3><b>Anzahl Semester:</b> {{ semesters }}/36</h3>
  <h3><b>Gesamtpunktzahl: (Block I)</b> {{ blockI }}</h3><br><br><br>


  <h2>Block II</h2><br>

  <h4> Prüfungsfächer: (Pflicht)</h4><br>
  <h5> Prüfungsfach 1</h5>
  <input type="text" class="form-control" v-model="pf0"><br>
  <h5> Prüfungsfach 2</h5>
  <input type="text" class="form-control" v-model="pf1"><br>
  <h5> Prüfungsfach 3</h5>
  <input type="text" class="form-control" v-model="pf2"><br>
  <h5> Prüfungsfach 5</h5>
  <input type="text" class="form-control" v-model="pf3"><br><br>
  
  <h3><b>Gesamtpunktzahl (Block I): </b> {{ blockII }}</h3><br><br>
  <h3><b>Gesamtpunktzahl (Block I + II): </b> {{ blockI + blockII }}</h3>
  <h3><b>AbiNote:</b> {{ abiNote }}</h3><br><br><br><br><br>

  
  <!--         
  <br>
    <div class="toc"><p><a href="#sonstNoten">Zu den sonstigen Noten</a><br><a href="#klausNoten">Zu den Klausur Noten</a></p></div>
  <div class="row">
	<div class="col-sm-6">
  <h4 id="sonstNoten"> sonstige Noten </h4>
          <table id='worksheet_table' class="table table-striped">
            <thead>
              <tr>
				<th>Notenpunkte</th>
				<th>Punktzahl</th>		
              </tr>
            </thead>
            <tbody>
				<tr v-for="(sonstNote, index) in sonstNotenRechner">
					<td>{{ 15 - index }}</td>
					<td>{{ sonstNote }}</td>
				</tr>
            </tbody>
          </table>
		  
		  <br><br></div>
		  <div class="col-sm-6">
  <h4 id="klausNoten"> Klausur Noten </h4>
          <table id='worksheet_table' class="table table-striped">
            <thead>
              <tr>
                <th>Notenpunkte</th>
                <th>Punktzahl</th>			
              </tr>
            </thead>
            <tbody>
				<tr v-for="(klausurNote, index) in klausurNotenRechner">
					<td>{{ 15 - index }}</td>
					<td>{{ klausurNote }}</td>
				</tr>
            </tbody>
          </table>
		  <br><br><br></div></div>
		  <h4> Rechenweg </h4>
		  <p> Hier die Rechnung zur Nachvollziehung: <code> gesamtpunktzahl * prozent / 100 </code>
		  <table id='worksheet_table' class="table table-striped">
            <thead>
              <tr>
				<th>Notenpunkte</th>
                <th>sonstige Noten</th>
                <th>Klausur Noten</th>				
              </tr>
			</thead>
			<tbody>
				<tr v-for="(punktzahl, index) in umrechnungSonstNoten">
					<td>{{ 15 - index }}</td>
					<td>{{ punktzahl }}%</td>
					<td>{{ umrechnungKlausurNoten[index] }}%</td>
				</tr>
			</tbody>		  
        </table>
    
   -->  
<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>


<!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </div>
		  <script src="/js/index.js"></script>
      <script src="/js/return-to-top.js"></script>     
      
</body>
</html>
